@model EshopAspCore.ViewModels.Catalog.Products.Manage.ProductCreateRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'), {
                //toolbar: ['heading', '|', 'bold', 'italic', 'custombutton'],
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('There was a problem initializing the editor.', error);
            });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#productThumbnail').attr('src', e.target.result).width(150).height(150);
                };

                reader.readAsDataURL(input.files[0]);
            }
        };
    </script>
}

<div class="container-fluid px-4">
    <h2 class="mt-4">Create Product</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Products</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <p>
                <a asp-action="Index" asp-controller="Product" class="btn btn-success">Back to list</a>
            </p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsFeatured"/> @Html.DisplayNameFor(model => model.IsFeatured)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" type="number" class="form-control" value="1" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OriginalPrice" class="control-label"></label>
                            <input asp-for="OriginalPrice" type="number" class="form-control" value="1" />
                            <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Stock" class="control-label"></label>
                            <input asp-for="Stock" type="number" class="form-control" value="1" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Details" class="control-label"></label>
                            <textarea asp-for="Details" class="form-control"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoDescription" class="control-label"></label>
                            <textarea asp-for="SeoDescription" class="form-control"></textarea>
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoTitle" class="control-label"></label>
                            <input asp-for="SeoTitle" class="form-control" />
                            <span asp-validation-for="SeoTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoAlias" class="control-label"></label>
                            <input asp-for="SeoAlias" class="form-control" />
                            <span asp-validation-for="SeoAlias" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="LanguageId" value="" />
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="IsDefault" id="IsDefault" value="true" checked/> @Html.DisplayNameFor(model => model.IsDefault)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbNailImage" class="control-label"></label>
                            <input asp-for="ThumbNailImage" type="file" class="form-control" onchange="readURL(this)" />
                            <span asp-validation-for="ThumbNailImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <img id="productThumbnail" src="#" alt="IMG" />
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
